body {
  background-color: white;
}
#intro {
  text-align: center;
}
h1 {
  text-align: center;
}
#email {
  font-size: 15px;
  color: grey;
}
#mail {
  font-size: 15px;
}
a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
footer {
  text-align: center;
}
footer a {
  margin: 0 15px;
  color: blueviolet;
}
header {
  margin-top: 25px;
  text-align: center;
}
